.filter-container{
  display: flex;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.company-name-input{
  border: .05em solid #777;
  border-radius: .25em;
  padding: 0.5em;
  width: 24.5em;
}


@media screen and (max-width: 920px) {
  .filter-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .company-name-input{
    width: 16em;
  }
}

@media screen and (max-width: 590px) {
  .filter-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}